.profile-plus__title {
  background-image: linear-gradient(127deg, hsl(var(--color-purple-600)) 12%, #fff5f1 78%);
  background-clip: text;
  color: transparent;
}

.profile-card__basic {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.profile-card__basic::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, hsl(var(--color-gray-900)), hsl(var(--color-purple-900)));
}

.profile-card__basic::after {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  right: 114px;
  width: 320px;
  height: 100%;
  background: center / cover url('@/assets/profile-basic.png');
}

.profile-card__plus {
  background-image: linear-gradient(to right, hsl(var(--color-gray-900)), hsl(var(--color-gray-700)));
}
